<div
  class="toast-container position-fixed top-0 end-0 p-3"
  style="z-index: 1055"
>
  <div
    *ngIf="isToastVisible"
    class="toast align-items-center"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    [ngClass]="toastClass"
  >
    <div class="d-flex">
      <div class="toast-body">
        <strong>{{ toastTitle }}</strong> {{ toastMessage }}
      </div>
      <button
        type="button"
        class="btn-close me-2 m-auto"
        (click)="hideToast()"
        aria-label="Close"
      ></button>
    </div>
  </div>
</div>
